html, body  {
    margin: 0px;
    height: 100%;
}
#logo {
    width: 100%;
    max-width: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.navbar {
    background-color: #263853;
}

.boton-verde {
    color: white;
    background-color: #00d795;
}

.boton-azul {
    color: white;
    background-color: #263853;
}

.boton:hover{
    color: white;
    background-color: #60F8AA;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    border-bottom: solid 1px #00d795;
    color: #00d795;
}

.encabezado { 
    padding: 45px;
}

.encabezado div h1{
    text-align: center;
    width: 450px;
}

.encabezado-boton {
    border-radius: 4px;
    width: 300px;
    font-size: 20px;
}

.barra-imagen {
    display: block;
}

.barra-imagen .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.barra-imagen img {
    max-width: 100%;
}

#img-banner {
    width: 100%;
}
.vivo {
    height: 100%;
    width: 100%;
}

.vivo-container {
    height: 100%;
    border: 2px solid #E9EEEB;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#vivo-img {
    max-width: 100%; 
}

#vivo-img img {
    width: 100%;
    height: 100%;
}

.vivo-container .accordion {
    border: none;
}

.boton-vivo {
    width: 100%;
}

.img-prod {
    width:80%;
}

.produccion .container {
    border: 2px solid #E9EEEB;
    border-radius: 5px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.fondo {
    background-color: rgb(236, 231, 231);
}

.prod-tam {
    padding: 30px;
}

.prod-content {
    padding: 20px;
    z-index: 1;
}

.prod-content p {
    color: #263853;
    font-weight: bold;
}

.soluciones {
    width: 100%;
    height: 575px;
}

.plataforma {
    margin-top: 30px;
}

.plataforma .container {
    border: 2px solid #E9EEEB;
    border-radius: 5px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.plataforma h2 {
    padding: 20px;
    color: #00d795;
}

.plataforma h3 {
    border-bottom: 3px solid #00d795;
    margin-left: 30px;
    color: #263853;
}

.plataforma-img {
    max-width: 100%;
}

.footer {
    margin-top: 20px;
    color: white;
    background-color: #263853;
}

#margin-footer {
    padding:3% 0%;
}

.about{
    border-left: 2px solid white;
}
.about p {
    margin-left: 2%;
    text-align: justify;
}

.about h5 {
    margin-left: 2%;
}

.about h6 {
    text-align: end;
}

.contacto h5 {
    margin-bottom: 3rem;
}