
body {
    font-family: 'Ubuntu Condensed', sans-serif;
}
.navbar {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(42, 4, 92);
}

.nav-link {
    color:white;
}

.encabezado {
    margin-top: 80px;
}

.b1 {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

.b1:hover {
    background-color: black;
}

.b2 {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}
.b2:hover {
    background-color: black;
}

.banner {
    width: 100%;
    margin-top: 20px;
}

.vivo {
    align-items: center;
    height: 500px;
}

.vivo-img {
    max-width: 100%;
    width: auto;
}